<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>Valider</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="../img/ico.png">
</head>
<header>
    <a href="../views/repondant.php"><img class = "logo" src="../img/Logo_HEPL.jpg"></a>
</header>
<body>
    <h1> Formulaire envoyé ! </h1>
</body>
<footer>
    <script src="../js/create.js" async defer></script>
    <script src="../js/HtmlToJSON.js" async defer></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</footer>

</html>